@model IvritSchool.Entities.Days

@{
    ViewBag.Title = "EditUser";
}

<h2>Редактирования дня под номером № @Model.DayNumber</h2>
<br />


@using (Html.AjaxBeginForm("EditDay", new AjaxOptions { UpdateTargetId = "Result", HttpMethod = "POST" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput">Номер дня</label>
                <input type="text" class="form-control" value="@Model.DayNumber" name="DayNumber" placeholder="" required>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Изменить" />
}
<div>
    <h3 id="Result"></h3>
</div>